input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number], select {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  width: 160px;
  padding: 12px 20px;
  padding-left: 5px;
  margin: 8px 0;
  margin-left: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 200px;
  display: block;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset] {
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
select{
width: auto;
}

input[type=reset]:hover {
  background-color: #45a049;
}

input[type=button] {
  width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}


div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




h1 {
  font-weight: lighter;
  letter-spacing: -2px;
  color: #000000;
}

.rwd-table {
  background-color: #00111a;
  align-content: left;
  width: 80%;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
th{
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

th + th{
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
}
td {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

td + td{
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
}